html, body {
    margin: 0px;
    padding: 0px;
	height: 100%;
	font-family: Calibri, serif;
} 

.top_image
{
	background-image:url("../images/home_main.jpeg");
	background-attachment:fixed;
	background-size:100%;
	background-repeat: no-repeat;
	height: 30%;
	max-height: 1000px;
	min-height: 600px;

/*clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);*/	
}

.hex
{
	 width: 100%;
	 height: 500px;
}
.svg_hexa
{
	padding-top: 130px;
}

.logo
{
	width: 80px;
	height: 80px;
	margin-left: 5%;
	float:left;
}

p:nth-of-type(1) {
  margin-top: 0px;
}

.banniere
{
	position: fixed !important;
	top: 0;
	background:#214F78;
	width: 100%;
	height: 83px;
	font-size: 27px;
	text-align: center;
	opacity: 0.95;
}

.acceuil:hover
{
	color:#D6F084;
}

.valeur:hover
{
	color:#D6F084;
}

.freelance:hover
{
	color:#D6F084;
}

.contact:hover
{
	color:#D6F084;
}

p a
{
	text-decoration:none;
  	color:#F7F3E9;
}

.intro
{
	text-align: center;
	padding-top:100px;
	height: 300px;
}

.slogan
{
	font-size: 45px;	
}

.button
{
	padding-top:50px;
}

button
{
	background:#214F78;
	border: none;
	border-radius: 10px;
	height: 50px;
	width: 250px; 
	font-size: 20px;
}

.padding
{
	margin-left: 75px;
}

.pla
{
	background:#F6F9ED;
}

.color_button
{
	color: #214F78;
}

.nos_valeurs
{
	text-align:center;
	padding-top:70px;
}
