html, body {
    margin: 0px;
    padding: 0px;
	height: 100%;
	font-family: Calibri, serif;
} 

.top_image
{
	background-image:url("../images/home_main.jpeg");
	background-attachment:fixed;
	background-size:100%;
	background-repeat: no-repeat;
	height: 30%;
	max-height: 1000px;
	min-height: 600px;
}

.hex
{
	 width: 100%;
	 height: 500px;
}
.svg_hexa
{
	padding-top: 130px;
}

.logo
{
	width: 80px;
	height: 80px;
	margin-left: 5%;
	float:left;
}

p:nth-of-type(1) {
  margin-top: 0px;
}

.banniere:hover
{
	background-color:black;
	opacity:0.8;
}

.acceuil:hover
{
	color: white;
}

.valeur:hover
{
	color: white;
}

.freelance:hover
{
	color: white;
}

.contact:hover
{
	color: white;
}

.banniere
{
	position: fixed !important;
	transition: 0.3s;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	width: 100%;
	height: 83px;
	font-size: 27px;
	text-align: center;
	opacity: 0.95;
}

p a
{
	text-decoration:none;
	color:#DAD2D2;
}

.intro
{
	text-align: center;
	padding-top:100px;
	height: 300px;
}

.slogan
{
	font-size: 45px;	
}

.button
{
	padding-top:50px;
}


button
{
	background: rgba(0, 0, 0, 0.5);
	transition: 0.3s;
	border: none;
	border-radius: 10px;
	height: 50px;
	width: 250px; 
	font-size: 20px;
}

button:active
{
	transform:scale(0.95);
}

.padding
{
	margin-left: 75px;
}

.button_plaquette
{
	background:#F6F9ED;
}

.color_button
{
	color: black;
}

{
	color: #FFFFFF;
}

.nos_valeurs
{
	text-align:center;
	padding-top:70px;
}
