html, body {
    margin: 0px;
    padding: 0px;
} 

.logo
{
	width: 80px;
	height: 80px;
	margin-left: 5%;
	float:left;
}

p:nth-of-type(1) {
  margin-top: 0px;
}

.banniere
{
	position: fixed;
	top: 0;
	background:#214F78;
	width: 100%;
	height: 83px;
	font-size: 27px;
	font-family: Calibri, serif;
	text-align: center;
	opacity: 0.95;
}

.acceuil:hover
{
	color:#DFDDD5;
	font-size: 30px;
}

p a
{
	text-decoration:none;
  	color:#F7F3E9;
}

.intro
{
	clear:both;
}
